/* Hide scrollbar for Chrome, Safari, Opera and Edge */
#advanced-settings::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Firefox*/
#advanced-settings {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#advanced-settings {
  padding: 13px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 750px!important;
}

#advanced-settings { overflow: -moz-scrollbars-none; }

#advanced-settings { -ms-overflow-style: none; }

#rtisg-crop-description{
 min-height: 25px;
}

div#rtisg-crop-description p {
  margin: 0;
}

div#advanced-settings div#rtisg-crop-description p {
  display: none;
}

div#advanced-settings.manual div#rtisg-crop-description p {
  display: block;
}

div#advanced-settings.manual div#rtisg-crop-description p span {
  display: inline;
}

div#advanced-settings.manual div#rtisg-crop-description p span.hidden {
  display: none;
}

#rtisg
{
  width: 500px;
  height: 350px;
}

.wrapper-advanced{
  display: flex;
  justify-content: space-between;
}

#crop-done{
  margin: 15px 0 15px 15px;

}

.wrapper-range {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  max-width: 600px;
}

.wrapper-range div:first-child{
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.wrapper-range div:first-child input{
  width: 100%;
  margin: 0 2.5rem 0 2.5rem;
}

.wrapper-range div:first-child label{
  min-width: 100px;
}


/* Griglia elelemento*/
.th-player.th-image:hover  .th-wrapper-grid,
.th-player.th-image.th-user-active .th-wrapper-grid{
  display: grid;
}
/*generazione griglia*/
.th-player.th-image .th-wrapper-grid {
  /*display: grid;*/
  display: none;
  grid-template-columns: 33% 33% auto;
  grid-gap: 1px;
  background-color: trasparent;
  color: #444;
  position: absolute!important;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}
/*singoli blocchi*/
.th-player.th-image .th-wrapper-grid .th-wrapper-grid-box {

  display: inline-block;
  height: 100%;
  width: 100%;
  border: 2px solid #fff !important;
  border-left-width: 0 !important;
  border-top-width: 0 !important;

}
/*rimozione tasto FS*/
.th-player.th-image .th-fullscreen-button,
.th-player.th-image .th-text-zoom{
  display: none !important;
}
