.form-type-thron-tags-sortable .connected-select {
    display: none;
    height: 150px;
    width: 100%;
}

.form-type-thron-tags-sortable .sortable-widget {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5em 0 1em;
}

.form-type-thron-tags-sortable .sortable-widget>div {
    width: 50%;
    align-self: flex-start;
}

.form-type-thron-tags-sortable .sortable-widget>div:first-child {
    padding-right: 1.2em;
}

.form-type-thron-tags-sortable .sortable-widget .connected-sortable {
    border: 1px solid #b8b8b8;
    border-top-color: #999;
    border-radius: 2px;
    background: #fcfcfa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    min-height: 20px;
    list-style-type: none;
    padding: 5px;
    margin: 0;
}

.form-type-thron-tags-sortable .sortable-widget .connected-sortable li {
    background: #f5f5f5;
    margin: 5px;
    padding: 5px;
    cursor: grab;
}

.form-type-thron-tags-sortable .sortable-widget .selected li {
    background: #f5f5dd;
}