{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set helper_name = attributes.offsetGet('data-helper-name') %}
<input{{ attributes }} /><input type="hidden" name="{{ helper_name }}" />{{ children }}
