{#
/**
 * @file
 * Default theme implementation for the THRON search result item.
 *
 * Available variables:
 * - thumbnail_uri: Link to the thumbnail of the THRON asset.
 * - name: Name of the THRON asset.
 * - type: Type of the THRON asset.
 * - owner: Owner of the THRON asset.
 * - created: Creation date of the THRON asset.
 * - updated: Last update date of the THRON asset.
 */
#}
<img src="{{ thumbnail_uri }}" alt="{{ name }}"/>
<div class="more-info">
  {% if created %}
    <div class="created">{{ 'Created'|t }}: {{ created | date("d/m/Y H:i:s") }}</div>
  {% endif %}
  {% if updated %}
    <div class="updated">{{ 'Last updated'|t }}: {{ updated | date("d/m/Y H:i:s") }}</div>
  {% endif %}
  <small class="type">
    {% if type %}({{ type }}{% if extension %} / {{ extension }}){% else %}){% endif %}{% endif %}
    {{ 'Owner'|t }}: {{ owner }}
    <br>
    {% if category %}
      {% if category|length > 1 %}
        <span class="type" title="{{ category|slice(1)|join(',') }}">
          {{ 'Folder'|t }}: {{ category.0 }}...
        </span>
      {% else %}
        <span class="type">{{ 'Folder'|t }}: {{ category.0 }}</span>
      {% endif %}
    {% endif %}
  </small>
  <h5 class="name">{{ name }}</h5>
</div>
